.insert-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.insert-file{
    justify-content: flex-start;
}

.insert{
    display: flex;
    justify-content: space-around;
}

.search{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
}

.form-section{
    display: flex;
    flex-direction: column;
}

.form-subsection{
    display: flex;
}

.transaction-table{
    width: 100%;
    height: 65vh;
    overflow-y: scroll;
}
